table {
    width: 700px;
    margin: 40px auto;
    border-collapse: collapse; 
    border-spacing: 0; 
    border-radius: 10px; 
}

th, td {
    padding: 8px;
}

th {
    background-color: #a8dadc;
    font-size: 16px;
    text-align: center;
}

td {
    font-size: 12px;
    text-align: justify;
}

td:nth-child(1) {
    width: 100px; 
    max-width: 150px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    text-align: center;
}

td:nth-child(2) {
    width: 200px; 
    max-width: 200px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

td:nth-child(3) {
    width: 90px; 
    max-width: 150px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    text-align: center;
}

td:nth-child(4) {
    width: 50px; 
    max-width: 150px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    text-align: center;
}
